
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build//laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/laskarit/viikko2/Unicafe/target
/sovellus/.idea/**/workspace.xml
/sovellus/.idea/**/tasks.xml
/sovellus/.idea/dictionaries

/sovellus/.idea/**/dataSources/
/sovellus/.idea/**/dataSources.ids
/sovellus/.idea/**/dataSources.local.xml
/sovellus/.idea/**/sqlDataSources.xml
/sovellus/.idea/**/dynamic.xml
/sovellus/.idea/**/uiDesigner.xml

/sovellus/.idea/**/gradle.xml
/sovellus/.idea/**/libraries
/sovellus/build
