
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build//laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

.idea/**/gradle.xml
.idea/**/libraries
